In [66]:
import numpy as np
import csv
import pandas as pd

In [67]:
df = pd.read_csv('/content/sample.csv')

df_y<-売上高

In [68]:
df_y = df["sales"]

# y完成

In [69]:
y = df_y.values

# weatherをダミー変数に

In [70]:
df_dum = pd.get_dummies(df.weather)

In [71]:
df = df.drop(["date","sales","weather"],axis=1)

In [72]:
df_A = pd.concat([df,df_dum],axis=1)

# 行列A完成

In [73]:
A = df_A.values

# 11行目から欠損値あるため最初の10行で実験

In [74]:
A_10 = A[:10]
y_10 = y[:10]

In [75]:
x_10 = (np.linalg.inv(A_10.T@A_10)@A_10.T)@y_10

In [76]:
print(x_10)

[ 5.14479628e+03  4.19360349e+02  1.03401035e+00  1.03773380e+04
  5.14770099e+03  9.82257297e+01 -2.03330255e+03]